.root {
  --plot-0:             #ab6f00;
  --plot-1:             #00aa88;
  --plot-2:             #aa0088;
  --plot-3:             #7700aa;
  --plot-4:             #2931af;
  --plot-5:             #288423;
}